<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block title %}
        <title></title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="right">
        <nav>
          <ul>
            {% if current_user.is_anonymous %}
            <li><a href="{{url_for('users.login')}}">Login</a></li>
            <li><a href="{{url_for('users.register')}}">Register</a></li>
            {% else %}
            <li><a href="{{url_for('users.logout')}}">Logout</a></li>

            {% endif %}
          </ul>
        </nav>
      </div>
      <div class="left">
        <h1>Flasky App</h1>
      </div>
    </header>
    <section>
      <div class="users">
        <div class="messages">
          {% with messages = get_flashed_messages()%}
            {% if messages %}
              <ul>
                {% for message in messages %}
                   <li>{{message}}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
        <div id="app">
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </section>
    <footer>
      <p>&copy; 2019</p>
    </footer>
  </body>
</html>
