{% extends 'users/base.html' %}
{% block title %}
    <title>{{title}}</title>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="reg-form">
      <form method="post">
        <div class="hidden">
          {{form.hidden_tag()}}
        </div>
        <div class="form-group">
          <label for="">{{form.username.label}}</label>
          {{form.username(size=32,class="input-text")}}
        </div>
        <div class="form-group">
          <label for="">{{form.email.label}}</label>
          {{form.email(size=32,class="input-text")}}
        </div>
        <div class="form-group">
          <label for="">{{form.password.label}}</label>
          {{form.password(size=32,class="input-text")}}
        </div>
        <div class="form-group">
          <label for="">{{form.password2.label}}</label>
          {{form.password2(size=32,class="input-text")}}
        </div>
        {{form.submit(class="btn")}}
      </form>
  </div>
  </div>
{% endblock %}
